@font-face {
    font-family: montserrat-regular;
    src: url(Montserrat-Regular.ttf); 
}
@font-face {
    font-family: montserrat-m;
    src: url(Montserrat-Thin.ttf); 
    
}
@font-face {
    font-family: saria;
    src: url(SairaSemiCondensed-SemiBold.ttf);
}
body{
    background-color: #F7F3F4;
    height: 174,166666667vh;
    width: 100vh;
}
#logo {
    width: 18.5vh;
    position: absolute;
    left: 21%;
    top: 1.75vh;
}
#head_text1{
    font-size: 1.9vh;
    font-family: montserrat-regular;
    /* transition-duration: 300ms;
    transition-property: background-color; */
    position: absolute;
    left: 39.84375vw;
    top: 1.75vh;
}

   
/* #head_text1:hover{
    border-radius: 10px;
    background-color: #CDCDCD;
    
} */
#head_text2{
    font-size: 1.9vh;
    font-family: montserrat-regular;
    position: absolute;
    left: 56vw;
    top: 1.75vh;
}
#head_text3{
    font-size: 1.9vh;
    font-family: montserrat-regular;
    position: absolute;
    left: 64vw;
    top: 1.75vh;
}

#sign-up-button{
    background-color: #FA7269;
    position: absolute;
    border: 0px;
    width: 10vw;
    height: 4.5vh;
    font-size: 1.9vh;
    font-family: montserrat-regular;
    color: white;
    left: 75vw;
    top: 1.75vh;
    transition-duration: 300ms;
    transition-property: background-color;

}
#sign-up-button:hover{
    background-color: #FA5C47;
}
#sign-up-button:active{
    background-color: #9E332E;
}
#welcome-img{
    position: absolute;
    width: 67vw;
    left: 32vw;
    top: 15vh;
}
#welcome_text{
    font-size: 64px;
    font-family: montserrat-m;
    position: absolute;
    left: 379px;
    top: 240px;
}
#welcome_logo{
    position: absolute;
    left: 379px;
    top: 375px;
    width: 300px;
}
#phraze{
    font-family: montserrat-regular;
    font-size: 18px;
    position: absolute;
    left: 379px;
    top: 455px;
}
#get-started{
    background-color: #FA7269;
    position: absolute;
    border: 0px;
    width: 169px;
    height: 42px;
    font-size: 18px;
    font-family: montserrat-regular;
    color: white;
    left: 379px;
    top: 555px;
    transition-duration: 300ms;
    transition-property: background-color;
}
#get-started:hover{
    background-color: #FA5C47;
}
#get-started:active{
    background-color: #9E332E;
}
#int_video{
    background-color: #BED2FA;
    position: absolute;
    left: 0px;
    top: 1089px;
    width: 1830px;
    height: 916px;
}
#video{
    width: auto;
    height: 600px;
    left: 400px;
    top: 216px;
    border-radius: 0px;
    position: absolute;
    background-color: black;
}
#int-img{
    text-align: center;
    font-size: 40px;
    font-family: saria;
    margin-top: 80px;
}
