* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  background-color: #f7f3f4;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  max-width: 1172px;
}

.header {
  margin-bottom: 80px;
  padding-top: 20px;
  padding-bottom: 18px;
}

.navigation {
  display: flex;
  justify-content: space-between;
}

.menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  column-gap: 32px;
  list-style: none;
}

.menu__link {
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  color: #1c1e2f;
}

.menu__link-underline {
  text-decoration: underline;
}

.btn {
  padding: 10px 20px;
  color: #ffffff;
  background-color: #fa7269;
}

.btn:hover {
  background-color: #fa5c47;
}

.btn:active {
  background-color: #9e332e;
}

.btn:disabled {
  background-color: #878787;
}
