@font-face {
    font-family: montserrat-regular;
    src: url(Montserrat-Regular.ttf);
}
@font-face {
    font-family: montserrat-m;
    src: url(Montserrat-Thin.ttf);

}
@font-face {
    font-family: saria;
    src: url(SairaSemiCondensed-Thin.ttf);
}
* {
  transition-duration: 500ms;
}
body{
    background-color: #F7F3F4;
    height: 174,166666667vh;
    width: 100vh;
}
#logo {
    width: 18.5vh;
    position: absolute;
    left: 20vw;
    top: 1.75vh;
}
#head_text1{
    font-size: 1.1vw;
    color: black;
    text-decoration: none;
    font-family : montserrat-regular;
    transition-duration: 500ms;
    position: absolute;
    left: 39.84375vw;
    top: 2.75vh;
}

#head_text2{
  text-decoration: none;
  transition-duration: 500ms;
    font-size: 1.1vw;
    font-family: montserrat-regular;
    position: absolute;
    left: 56vw;
    top: 2.75vh;
    color: black;
}
#head_text3{
  transition-duration: 500ms;
  text-decoration: none;
    font-size: 1.1vw;
    font-family: montserrat-regular;
    position: absolute;
    left: 64vw;
    top: 2.75vh;
    color: black;
}
#head_text1:hover {
  color: #FA5C47;

}
#head_text1:active {
  color: #9E332E;
}
#head_text2:hover {
  color: #FA5C47;

}
#head_text2:active {
  color: #9E332E;
}
#head_text3:hover {
  color: #FA5C47;

}
#head_text3:active {
  color: #9E332E;
}


#sign-up-button{
    background-color: #FA7269;
    position: absolute;
    border: 0px;
    width: 11vw;
    height: 4.5vh;
    font-size: 1.1vw;
    font-family: montserrat-regular;
    color: white;
    left: 75vw;
    top: 1.75vh;
    transition-duration: 300ms;
    transition-property: background-color;

}
#sign-up-button:hover{
    background-color: #FA5C47;
}
#sign-up-button:active{
    background-color: #9E332E;
}

#canvas{
  background-color: #E6E6E6;
  width: 0.1vw;
  height: 3vh;
  position: relative;
  top: 0.6vh;
  left: -0.5vw
}
.avt{
  transition-duration: 200ms;
  background-color: rgba(255, 0, 0, 0);
  border: none;
  left: -0.56vw;
  position: relative;
  font-family: montserrat;
  font-size: 2.5vh;
  margin: 0.3vw;
}
#reg-form{
  position: relative;
  top: 27vh;
  left: 25vw
}

#aut-h{
  font-size: 2vw;
  font-family: Montserrat;
}

#form{
  background-color: #BED2FA;
  border-radius: .8vh;
  align-items: center;
  position: relative;
  width: 21.5vw;
  top: 3vh;
  left: -1vw;
  height: 40vh;
}
#aut-h{
  position: relative;
  top: 2vh;
  left: 3.3vw;
}
.inputs{
  border: none;
  margin: 2vh 2vw 1vh 2.5vw;
  height: 5vh;
  width: 16vw;
  color: #636363;
  font-size: 1.7vh;
  font-weight: 500;
  font-family: Montserrat;
  border-radius: 0px;

}
#email-in{
  position: relative;
  margin-top: 5vh
}

#submit{
  background-color: #FA7269;
  border: none;
  font-family: Montserrat;
  color: white;
  margin: 2vh 2vw 2vh 2.5vw;
  height: 5.5vh;
  font-size: 1vw;
  width: 16.3vw;
  font-weight: bold;
}

#submit:hover{
    background-color: #FA5C47;
}
#submit:active{
    background-color: #9E332E;
}

#blue{
  position: absolute;
  top: 0vh;
  left: 48vw;
  width: 51vw;
  height: 115vh;
}

#contacts{
    background-color: #6D89CF;
    width: 100%;
    height: 15vh;
    left: 0;
    position: absolute;
    top: 100vh;
}
#logo-footer{
    position: absolute;
    left: 43vw;
    width: 14vw;
    top: 4vh;
}
#phone{
    color: white;
    font-family: saria;
    font-size: 1.8vh;
    letter-spacing: 0.05vw;
    position: absolute;
    top: 2vh;
    left: 22vw;
    transition-duration: 300ms;
    transition-property: color;

}
#phone-img{
    width: 1.1vw;
    position: absolute;
    left: 20.5vw;
    top: 4vh;
}
#phone:hover{
    color: #FA5C47;
}
#phone:active{
    color: #9E332E;
}
#what-h{
    font-size: 1.8vw;
    text-align: center;
    top: 210vh;
    left: 35vw;
    position: absolute;
    font-family: montserrat-regular;
}
#email-img{
    width: 1.3vw;
    position: absolute;
    left: 20.3vw;
    top: 8vh;
}
#email{
    font-family: saria;
    color: white;
    font-size: 0.9vw;
    position: absolute;
    top: 7.8vh;
    left: 22vw;
    transition-duration: 300ms;
    transition-property: color;
}
#email:hover{
    color: #FA5C47;
}
#email:active{
    color: #9E332E;
}
#we-sotz{
    font-family: montserrat-regular ;
    font-size: 1vw;
    color: white;
    position: absolute;
    left: 70vw;
    top: 1.5vh;
}
.inst-img{
    position: relative;
    display: inline-block;
    top: 6.2vh;
    left: 69.7vw;
    margin: 0.3vw;
}
.inst-img .img-top{
    width: 2.15vw;
    top: 0;
    left: 0;
    position: absolute;
    display: none;
    z-index: 19;
}
.inst-img .img-top-2{
    width: 2.14vw;
    top: 0;
    left: 0;
    position: absolute;
    display: none;
    z-index: 99;
}
.inst-img:hover .img-top{
    display: inline;
}
.inst-img:active .img-top-2{
    display: inline;
}
.inst{
    width: 2.14vw;
}

#email-log{
  z-index: 1;
  position: absolute;
  top: 6.45vh;
  left: 16.5vw;
  width: 1.2vw;
}
#name-log{
  position: absolute;
  top: 14.75vh;
  left: 16.5vw;
  width: 1.2vw;
}
#pass-log{
  position: absolute;
  top: 22.8vh;
  left: 16.5vw;
  width: 1.2vw;
}

#cloud-1{
  position: absolute;
  width: 15vw;
  height: 20vh;
}
#cloud-2{
  position: absolute;
  width: 12vw;
  height: 17vh;
}
#cloud-3{
  position: absolute;
  width: 6vw;
  height: 10vh;
}
#cloud-4{
  z-index: 1;
  position: absolute;
  width: 12vw;
  height: 17vh;
}
#cloud-5{
  position: absolute;
  width: 10vw;
  height: 15vh;
}
#readBoy{
  position: absolute;
  width: 50vw;
  height: 60vh;
}

#readGirl{
  position: absolute;
  width: 50vw;
  height: 60vh
}
